.container-large {
    max-width: 1296px;

}

.container-small {
    max-width: 1079px;
}

.mulish {
    font-family: ;
}

.inter {
    font-family: ;
}


/* menu btn changer css */
.open .top-bar {
    rotate: 45deg;
    top: 6px;
}

.open .middle-bar {
    opacity: 0;
}

.open .bottom-bar {
    rotate: 135deg;
    top: -6px;
}

/*slick carousel gap in cards*/
.slick-track {
    display: flex;
    gap: 16px;

}